@charset "UTF-8";
@font-face {
  font-family: 'source_sans_prolight';
  src: url("../source/type/sourcesanspro-light-webfont.eot");
  src: url("../source/type/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../source/type/sourcesanspro-light-webfont.woff2") format("woff2"), url("../source/type/sourcesanspro-light-webfont.woff") format("woff"), url("../source/type/sourcesanspro-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../source/type/sourcesanspro-regular-webfont.eot");
  src: url("../source/type/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../source/type/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../source/type/sourcesanspro-regular-webfont.woff") format("woff"), url("../source/type/sourcesanspro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'majesti_bannerheavy';
  src: url("../source/type/majesti-banner-heavy-webfont.eot");
  src: url("../source/type/majesti-banner-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../source/type/majesti-banner-heavy-webfont.woff2") format("woff2"), url("../source/type/majesti-banner-heavy-webfont.woff") format("woff"), url("../source/type/majesti-banner-heavy-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  max-width: 500px; }
  body > * {
    padding: 0 20px;
    margin: 0; }

h1, h2, h3, p, ul li {
  color: #667; }

h1, h3 {
  font-family: 'majesti_bannerheavy';
  font-weight: bold; }

h1 {
  font-size: 38px;
  line-height: 40px;
  margin-top: 12px; }

h2, button, a {
  font-family: 'source_sans_prolight';
  font-size: 19px;
  line-height: 22px;
  color: #667; }

h2 {
  margin-bottom: 12px; }

h3 {
  font-size: 26px;
  line-height: 28px; }

p, ul li {
  font-family: 'source_sans_proregular';
  font-size: § 16px;
  line-height: 20px; }

p {
  margin-bottom: 12px; }
  p.intro {
    font-family: 'source_sans_prolight';
    font-size: 24px;
    line-height: 28px;
    margin-top: 24px; }

ul li {
  margin-left: 16px; }

hr {
  height: 1px;
  background-color: #3498db;
  border: 0 none;
  padding: 0;
  margin: 18px auto;
  width: calc(100% - 40px);
  text-align: center; }

div {
  width: 100%;
  height: 320px;
  background-image: url("../source/img/me.png");
  background-size: cover;
  border-top: 2px solid #3498db;
  position: relative; }
  div ul {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 0;
    margin: 0; }
    div ul:last-of-type {
      margin-bottom: 20px; }
    div ul li {
      list-style: none;
      float: left;
      margin: 0; }
      div ul li:not(:last-child) {
        margin-right: 12px; }
      div ul li a {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #3498db;
        margin: 0; }
        div ul li a.twitter {
          background: url("../source/img/icon-twitter.svg") no-repeat #3498db center; }
        div ul li a.medium {
          background: url("../source/img/icon-medium.svg") no-repeat #3498db center; }
        div ul li a.linkedin {
          background: url("../source/img/icon-linkedin.svg") no-repeat #3498db center; }
        div ul li a.twitter:hover, div ul li a.medium:hover, div ul li a.linkedin:hover {
          background-color: #667;
          cursor: pointer;
          -webkit-transition: all .2s;
          /* Safari */
          transition: all .2s; }

a {
  width: calc(100% - 40px);
  display: block;
  padding: 8px;
  background-color: #3498db;
  border: 0;
  margin: 24px auto;
  border-radius: 2px;
  box-shadow: 0 2px #217dbb;
  text-align: center;
  text-decoration: none;
  color: white; }
  a:hover {
    background-color: #667;
    box-shadow: 0 2px #4e4e5c;
    cursor: pointer;
    -webkit-transition: all .2s;
    /* Safari */
    transition: all .2s; }
  a:active {
    position: relative;
    top: 2px;
    box-shadow: none; }

/*# sourceMappingURL=styles.css.map */
